.features-grid {
    text-align: center;
    padding: 40px 0;
    background: $color-white;
    display: flex;
    justify-content: center;
    
    @include mobile-only {
        padding: 30px 0;
        flex-direction: column;
        align-items: center;
        justify-content: unset;
    }
}

.feature {
    margin: 0 25px;
    max-width: 250px;

    @include mobile-only { 
        max-width: 100%;
    }

    img {
        width: 100%;
        box-shadow: 0 5px 5px #000;

        @include mobile-only {
            width: 80%;
        }
    }

    &__caption {
        margin: 1rem 0;
        color: $color-black;
    }
}

.quote {
    background: $color-secondary;
    color: $color-white;
    text-align: center;
    line-height: 1.75rem;
    padding: 40px 0;

    @include mobile-only {
        padding: 30px 0;
    }

    &__content {
        font-size: 1.5rem;

        @include mobile-only {
            font-size: 1.125rem;
        }
    }

    &__author {
        font-style: italic;

        @include mobile-only {
            font-size: 0.875rem;
        }
    }
}